.idea/
*.log
**.conf
**/**.conf
**.pyc
**/**.DS_Store
*.DS_Store
app/templates/examples
app/templates/examples/**
gunicorn_config.py
blog_posts/
.DS_Store
app/.DS_Store
alembic-dev.ini
alembic-prod.ini